.btn-container {
  text-align: center;
}

.mayor {
  color: green;
}

.menor {
  color: red;
}

.btn-añadir {
  background: transparent !important;
  border-color: green !important;
  color: green !important;
}

.btn-añadir:hover {
  background: green !important;
  color: white !important;
  transition: .3s ease-in-out;
}

table tbody td:nth-child(odd){
  background-color: rgb(28, 49, 22) !important;
}

table tbody tr:hover{
  background-color: rgb(34, 66, 25) !important;
}